html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS*/

/*MENU PRINCIPAL*/

.menu_principal{
	display: flex;
	background-color: rgb(56, 53, 53);
	justify-content: center;
	border-radius: 50%;
	width: 100%;
}

.menu_principal li{
	padding: 15px;
	margin-right: 20px;
}

.menu_principal li a{
	text-decoration: none;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.menu_principal li a:hover{
	color: blue;
}

/* CAMBIAR FONDO */
#cuerpo{
	width: 100%;
	margin-top: 0px;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/fondo5.PNG');
}

/* RELOJ Y FECHA */

.contendor-reloj{
	width: 100%;
	height: 200px;
	align-items: center;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.contendor-reloj #reloj{
	font-size: 60px;
	color: red;
	text-align: center;
}

.contendor-reloj #fecha{
	font-size: 60px;
	color: rgb(97, 16, 16);
	text-align: center;
}

.contendor-reloj #mensaje{
	margin-top: 15px;
	font-size: 25px;
	color: rgb(238, 103, 103);
	text-align: center;
	font-weight: bold;
}

/* Generador de Contraseña */
.contenedor-pass, h2 {
	color: white;
	font-size: 35px;
}

.contenedor-pass {
	text-align: center;
}

#passGenerada{
	color: yellow;
	font-size: 20px;
	margin-top: 15px;
}

/* Temperatura */
#contenedor-tiempo{	
	float: inline-end;
	color: white;
	width: 700px;
	background-color: rgba(0, 0, 0, 0.5);
	position:relative
	
}

#ciudad{
	text-align:center;
	text-decoration: underline;
	margin-bottom: 10px;
}
#horaActual{
	text-align:center;
}

#tempMaxima{
	position: absolute;
	left: 500px;
	top:  40px;



}
#tempMinimo{
	position: absolute;
	left: 500px;
	top:  60px;
}
#precipitacion{
	position: absolute;
	left: 500px;
	top:  80px;

}
#humedadpromedio{
	position: absolute;
	left: 500px;
	top:  100px;

}
#velocidadpromedio{
	position: absolute;
	left: 500px;
	top:  120px;

}
#plantillaTempHoras{
    display: flex;
    overflow-x: auto; 
    width: 100%;
    margin-top: 60px;
	gap: 10px;
}




/* LINKS */

#contenedor-links {
	width: 70%;
	position: absolute;
}

#tituloLink,#urlLink{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.eliminar-link{
	padding: 11px;
	border: none;
	border-radius: 10px;
	background-color: red;
	color: white;
	cursor: pointer;
}

#btnLink{
	padding: 11px;
	border: none;
	border-radius: 10px;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
}

#listaLinks{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
}

.links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-bottom: 10px;
	background-color: #fafafa;
	width: 10%;
	margin-right: 15px;
}

.links a{
	text-decoration: none;
	color: #007BFF;
}